@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Space Grotesk', sans-serif;
}


nav {
    justify-content: center;
    color: aqua;
    font-weight: 600;
}
nav a {
    text-decoration: none;
    color: aqua;

}
span {
    color: black;
}

.info {
    background-color:white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

.info-page img {
    padding-left: 50px;
}

.info-page1 {
    padding: 50px;
    font-size: 4em;
    color: #177330;
}


.hero {
    background-color:darkslateblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.calculator-left {
padding: 50px;
line-height: 40px;

}    

.calculator-right {
    padding: 50px;
    line-height: 20px;
}

.calculator-right .grid-item-1 {
    padding: 10px;
}

.calculator-right .displayEv {
    margin-left: 20px;
}


.btn {
    margin-top: 20px;

}

h1,h2 {
    color: white;

}


h3 {
    color: black;
    border-radius: 10px;
    background-color: lightpink;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

.input {
    color: whihte;
    border: 2px solid red;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 900;


}

.grid-item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container {
    margin-top: 50px;
    
}

.recos {
    background-color:white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding:20px;
    
}

.recos h1 {
    color: black;
    font-size: 50px;

}

.recos h2 {
    color: black;
    font-size: 40px;
   
}
.recos .list-group {
justify-content: space-evenly;
margin-top: 70px;
}

@media only screen and (max-width: 800px) {
    .hero {
      display: flex;
      flex-direction: column;
      height: 130vh;
      
  }

    .hero .calculator-left {
        margin-top: 50px;
        margin-left: 0;

    }

    .hero .calculator-left button{
        margin-left: 100px;

    
    }
    .hero .calculator-left input{
        margin-left: 50px;
        max-height: 40px;

    
    }

    .hero .calculator-right {
        font-size: 1em;
    
    }

    
    
    .info {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 120vh;
        font-size: 0.6em;
        overflow-y: hidden;
       
    }

    .info .info-page .info-page1 {
    justify-content: center;
    padding-left: 100px;
  
    }

};
